<div>
    <a-row :gutter="24" type="flex">
      <a-col :span="24" class="mb-24">
        <template>
          <a-row type="flex" justify="end" class="mb-35">
            <a-col>
              <router-link to="/add-new-paper">
                <a-button> Add a new Question </a-button>
              </router-link>
            </a-col>
          </a-row>
          <a-card
            :bordered="false"
            class="header-solid h-full"
          >
            <template #title>
              <a-row type="flex" align="middle">
                <a-col :span="24" :md="8">
                  <a-input-search
                    v-model:value="searchText"
                    placeholder="Search Results"
                    :enter-button="true"
                  />
                </a-col>
              </a-row>
            </template>
            <a-table
              :columns="tableHeader"
              :data-source="tableData"
              :pagination="pagination"
              :loading="loading"
            >
              <template slot="editBtn" slot-scope="row">
                <router-link :to="{ name: 'Edit New Paper', query: { question_id: row.question_id }}">
                  <a-button type="primary" class="btn-edit">
                  Edit
                  </a-button>
                </router-link>
              </template>
            </a-table>
          </a-card>
        </template>
      </a-col>
    </a-row>
  </div>
  