<div>
    <a-row :gutter="24" type="flex">
      <a-col :span="24" class="mb-24">
        <template>
          <a-card
            :bordered="false"
            class="header-solid h-full"
          >
          <template #title>
            <a-row type="flex" align="middle" class="mb-20">
              <a-col :span="24" :md="12">
                <h5 class="font-semibold m-0">Welcome to FBISE Subjective A.I Assessment Portal: </h5>
                <p>Welcome to the portal, where you can effortlessly upload questions and leverage AI assistance for evaluation.</p>
              </a-col>
            </a-row>
          </template>
          <a-card style="box-shadow: none;">
            <a-row type="flex" align="middle" justify="between">
              <a-col :span="8">Upload picture</a-col>
              <a-col :span="10">OCR Data</a-col>
              <a-col :span="6" class="text-center">Like/Dislike</a-col>
            </a-row>
            <ocrCard />
            <ocrCard />
            <ocrCard />
          </a-card>
          <a-row type="flex" justify="end" class="mt-20">
            <a-col>
              <a-button style="width: 150px; margin-right: 15px;">Back</a-button>
              <router-link to="/ocr">
                <a-button type="primary" style="width: 150px">
                  Save & Next
                </a-button>
            </router-link>
            </a-col>
          </a-row>
          </a-card>
        </template>
      </a-col>
    </a-row>
  </div>
  